@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index.scss';



body {
    background: url('https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg');
    // background-position-x: 50%;
    background-size: cover;
    height: -webkit-fill-available;
    color: white;
}