<template lang="pug">
    b-container.wrapper.text-center
        header.fixed-top
            img.my-4( src="./assets/logo3.png")
            //- b-row.align-content-center
            //-     b-col
            //-         b-img
            //-     b-col.my-auto.text-left 
        router-view.wrapper
        footer.fixed-bottom All rights reserved &copy; 2019
</template>


<script>

export default {

}

</script>

<style lang="scss" scoped>

.wrapper {
    height: inherit;
}


</style>
